<div class="pure-g">
  <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
    <%= form_for(:session, url: {action: "create"}, html: {class: "pure-form pure-form-stacked"}) do |f| %>
      <fieldset>
      <legend>Log In</legend>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Log In", :class => 'pure-button' %>
      <p>New user? <%= link_to "Sign up now!", signup_users_path %></p>
      </fieldset>
    <% end %>
  </div>
</div>