<h1> Hello World</h1>

<div>
<%= form_for :user do |f| %>
  <%= f.label :first_name %>:
  <%= f.text_field :first_name %><br />

  <%= f.label :last_name %>:
  <%= f.text_field :last_name %><br />

  <%= f.label :password %>:
  <%= f.text_field :password %><br />

  <%=f.label :email %>
  <%=f.text_field :email%>

  <%= f.submit %>
<% end %>

</div>



<p>Here is other text</p>





