<div class="pure-g">
  <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
    <%= form_for @user, html: {class: "pure-form pure-form-stacked"} do |f| %>
      <fieldset>

      <legend>Sign Up</legend>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Create my account", :class => 'pure-button' %>
      </fieldset>
    <% end %>
  </div>
</div>